.paso-activo {
  color: white;
  position: relative;
  width: 150px;
  height: 50px;
  background-color: #EE9025;
}

.paso-activo.active:after {
  content: '';
  position: absolute;
  left: 140px;
  width: 0;
  height: 0;
  /* esta es la parte importante */
  border: transparent solid 25px;
  border-left-color: #EE9025;
}

.paso-inactivo {
  color: white;
  position: relative;
  width: 150px;
  height: 50px;
  background-color: #6A6A6A;
}

.paso-completado {
  color: white;
  position: relative;
  width: 150px;
  height: 50px;
  background-color: #143885;
}